<div class="container mt-5">
  <h2>Employees</h2>
  <a routerLink="/employees/add" class="btn btn-success mb-3">Add new employee</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <!-- <th>Ime</th>
          <th>Prezime</th>
          <th>Telefon</th>
          <th>Adresa</th>
          <th>Grad</th>
          <th>Država</th> -->
          <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.fullName }}</td>
        <!-- <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.city }}</td>
        <td>{{ employee.country }}</td> -->
        <td>
          <a [routerLink]="['/employees', employee.id]" class="btn btn-primary">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination
    [totalItems]="totalItems"
    [(ngModel)]="currentPage"
    [itemsPerPage]="itemsPerPage"
    (pageChanged)="onPageChange($event)"
    class="d-flex justify-content-center mt-3"
  >
  </pagination>
</div>
